SECRET_KEY=change-me
DEBUG=True
DATABASE_NAME=wasto_db
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_PORT=5432
OPENWEATHERMAP_API_KEY=
WEATHER_REFRESH_MINUTES=60
FIREBASE_CREDENTIALS_PATH=C:\path\to\firebase-service-account.json
